{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'contact_us/css/contact_us.css' %}">
{% endblock %}

{% block head %}
<title>SebsToyStore - {{ new.title }}</title>
{% endblock %}


{% block content %}
<!-- BUTTONS AREA -->

<!-- BACK ONE PAGE  -->
<div class="p-2 bd-highlight">
    <span><i class="fa-regular fa-left" style="color: #33bacd;"></i></span>
    <a href="javascript:history.go(-1)">
        <h6><i class="fa-solid fa-circle-left" style="color: #33bacd;"></i>
            Back
        </h6>
    </a>
</div>

    <div class="row w-100 pl-5 pt-3 pb-2  d-flex justify-content-center">
        <h2 class="mb-0 text-orange text-uppercase pages-title">{{ new.title }}</h2>
    </div>

<div class="container-fluid p-5">
    <div class="row-flex d-flex w-100 align-top" style="top:0px;">

        <!-- EDIT NEW -->
        <div class="col-4">
            {% if user.is_staff %}

            <a href="{% url 'news_blog:news_edit' new.id %}" class="btn btn-outline-warning" style="width: 5em;">Edit</a>
            {% endif %}

        </div>
        <!---->
        <!-- DELETE NEW -->
        <div class="col-4">
            {% if user.is_staff %}

            <form method="get" action="{% url 'news_blog:news_delete' new.id %}">
                <button type="button" class="btn btn-outline-danger" data-toggle="modal"
                    data-target="#exampleModal-{{ new.id }}" data-backdrop="false" style="width: 5em;">Delete</button>

                <!-- MODAL FOR DELETE NEW -->
                <div class="modal fade" id="exampleModal-{{ new.id }}" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true"
                    style="background-color: rgba(24, 23, 23, 0.686);">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content" style="background-color: black; top:20vh;">
                            <div class="modal-header">
                                <h5 class="text-orange text-uppercase pages-title " id="exampleModalLabel">Do you want
                                    to delete this title?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" style="background-color: black;">
                                {% csrf_token %}
                                {{ new.title }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"
                                    style="box-shadow: 3px 3px 5px rgb(41, 110, 180, 0.466);">Cancel</button>
                                <button type="submit" class="btn btn-outline-danger"
                                    style="box-shadow: 3px 3px 5px rgb(41, 110, 180, 0.466);">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
            {% endif %}
        </div>
    </div>
</div>
<!---->


<!-- NEW DETAIL -->

<div class="container-fluid p-5">
    <div class="row d-flex flex-column">
        <div class="col">
            <div class="d-flex justify-content-center">
                <img src="{{ new.image.url }}" class="img-fluid rounded " style="max-width: 70%; height: auto; object-fit:scale-down" alt="title img">
            </div>
        </div>
        <div class="col ">
            <p class="text-right mb-3"> {{ new.date }}</p>

            <p class="text-capitalize text-justify"> {{ new.description }}</p>
            <a href="{{ new.source }}" target="_blank" rel="nofollow"> Source </a>
        </div>
    </div>
</div>

{% endblock %}