{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'news_blog/css/news_blog.css' %}">
{% endblock %}

{% block head %}
<title>SebsToyStore - News</title>
{% endblock %}

{% block header %}
<div class="row w-100 d-flex justify-content-center p-5">
    <h2 class="text-orange text-uppercase pages-title">News</h2>
</div>
{% endblock %}

{% block content %}
{% if paginator %}
<div class="col d-flex justify-content-end" style="line-height: 1.5em;">
    {% include 'includes/paginator.html' %}
</div>
{% endif %}

<div class="container-fluid">
    <div class="row d-flex">
        {% for new in object_list %}
        <div class="col">
            <div class="card ware-card">

                <a href="{% url 'news_blog:news_details' new.id %}" class="post-link" style="z-index: 2; height:100%">

                    <div class="image-container m-0 m-auto"
                        style="min-width: 13em; max-width: 70%; max-height: 50%; z-index: 2;">

                        <img src="{{ new.image.url }}" class="card-img-top"
                            style=" min-width: 13em; max-width: 80%; max-height: 50%;" alt="image">

                        <p class="text-orange"> {{ new.title|upper }}</p>
                        <p class="mb-1">{{ new.description|truncatewords:8 }}</p>
                        <p class="mb-0" style="bottom:0px; right:1em; position: absolute">{{ new.date }}</p>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}