{% extends "base.html" %}
{% load static %}

{% block head %}

<title>SebsToyStore - Terms&Conditions</title>

{% endblock %}

{% block content %}

<div class="container-fluid d-flex justify-content-center w-100">
    <div class="col">
        <div class="row d-flex justify-content-center mt-2">
            <p class="slogan text-center">Under construction</p>
        </div>
        <div class="row d-flex justify-content-center">
            <p>PLEASE COME BACK NEXT TIME, FOR NOW KEEP EXPLORING OUR SITE</p>
        </div>
        <div class="row d-flex justify-content-center">
            <img src="https://res.cloudinary.com/dwjq6izv5/image/upload/v1684422519/PP5/giphy_rtywq3.webp"
                alt="gif construction" style="max-width: 12em;">
        </div>

    </div>
</div>

{% endblock %}
