{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block head %}
<title>SebsToyStore - {{ user }}'s Profile</title>
{% endblock %}


{% block header %}
<div class="row w-100 d-flex justify-content-center">
    <h2 class="mb-0 text-orange text-center text-uppercase p-5">{{ user }}'s Profile</h2>
</div>
{% endblock %}

{% block content %}

<div class="row w-100 d-flex justify-content-center">
    <p >Update your Profile <a href="" data-toggle="modal" data-target="#Profile"
            data-backdrop="false"> Here!</a>
    </p>
</div>
<div class="order-toggle">
<div class="container-fluid p-5">
    <div class="row" style="border: 2px solid grey; border-radius: 5px;">
        <div class="col">
            <!-- FROM TABLE GENERATOR -->
            <p>Personal Details:</p>
            <table class="tg">
                <tbody>
                    <tr>
                        <td class="tg-c3ow">Name:</td>
                        <td class="tg-c3ow">{{ user.full_name }}</td>
                    </tr>
                    <tr>
                        <td class="tg-c3ow">Email:</td>
                        <td class="tg-c3owemail">{{ user.email }}</td>
                    </tr>
                    <tr>
                        <td class="tg-c3ow">Phone:</td>
                        <td class="tg-c3ow">{{ user.phone_number }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <p>Address Details:</p>
            <table class="tg">
                <tbody>
                    <tr>
                        <td class="tg-c3ow">Address line 1:</td>
                        <td class="tg-c3ow">{{ user.street_address1 }}</td>
                    </tr>
                    <tr>
                        <td class="tg-c3ow">Address line 2:</td>
                        <td class="tg-c3ow"> {% if user.street_address2 %} {{ user.street_address2 }} {% else %}
                            {% endif %}</td>
                    </tr>
                    <tr>
                        <td class="tg-c3ow">Town or City:</td>
                        <td class="tg-c3ow">{{ user.town_or_city }}</td>
                    </tr>
                    <tr>
                        <td class="tg-c3ow">County:</td>
                        <td class="tg-c3ow">{{ user.county }}</td>
                    </tr>
                    <tr>
                        <td class="tg-c3ow">Country:</td>
                        <td class="tg-c3ow">{{ user.country.name }}</td>
                    </tr>
                    <tr>
                        <td class="tg-c3ow">Postcode:</td>
                        <td class="tg-c3ow">{{ user.postcode }}</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
<!---->
<button type="button" value="toggle" onclick="toggleO()" class="toggle-button">To see your recent Order History click here</button>
<div id="full-orders" class="container-fluid p-5" style="display: none;">
    <div class="row" style="border: 2px solid grey; border-radius: 5px;">
        <div class="row w-100">
            <p class="ml-5">Your last 5 orders:</p>
        </div>
        <div class="col">
            <div class="col">
                <table class="tg">
                    <tbody>
                        <tr>
                            <th class="tg-c3ow">Order Number </th>
                            <th class="tg-c3ow pl-3">Date </th>
                            <th class="tg-c3ow pl-3">Charged </th>
                        </tr>
                        {% for order in orders %}
                        <tr>
                            <td class="tg-c3ow">
                                <a href="{% url 'profiles:order_details' order.order_number %}" class="post-link"
                                    style="z-index: 2;" target="_blank">
                                    {{ order.order_number|slice:'::-1'|truncatechars:9|slice:'::-1' }}</a></td>
                            <td class="pl-3"> {{ order.date.date }}</td>
                            <td class="text-right pl-3">{{ order.grand_total }}</td>

                            {% endfor %}
                    </tbody>
                </table>
                <hr>
            </div>
        </div>
    </div>
</div>

<button type="button" value="toggle" onclick="toggleB()" class="toggle-button">To see your bookmarks click here</button>
<div class="container-fluid p-5" id="bookmarks" style="display: none;">
{% include 'bookmarks/user_bookmarks.html' %}
</div>

<form method="POST" id="form_section" enctype="multipart/form-data" style="margin-top: 1.3em;">
    <div class="modal forms-format " id="Profile">
        <div class="modal-dialog ">
            <div class="modal-content forms-format" style="background: rgba(0, 0, 0);">
                <div class="modal-header">
                    <h5 class="modal-title">Create your Profile</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    {{ form|crispy}}
                    <button type="submit" class="btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}

{% block togglejs %}

<script>
    function toggleO(){
       let div = document.getElementById('full-orders')
       if (div.style.display === 'none') {
        div.style.display = 'block';
       }else {
        div.style.display = 'none';
       }
    }
    function toggleB(){
       let div = document.getElementById('bookmarks')
       if (div.style.display === 'none') {
        div.style.display = 'block';
       }else {
        div.style.display = 'none';
       }
    }
</script>
{% endblock %}
