{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}


{% block header %}

{% endblock %}

{% block content %}


<h3>User Profile</h3>

<p>user: {{ user }}</p>
<p>full name: {{ user.full_name }}</p>
<p>email: {{ user.email }}</p>
<p>phone: {{ user.phone_number }}</p>

<p>country: {{ user.country.name }}</p>

<hr>
{% for order in orders %}

<span>Order Number:</span><a href="{% url 'profiles:order_details' order.order_number %}" class="post-link" style="z-index: 2;" target="_blank">

 {{ order.order_number }}</a><span>Purchase date: {{ order.date }}</span> <span>Charged: {{ order.grand_total }}</span>

{% endfor %}

<hr>

<p>Start/Update your Profile! <a href="" data-toggle="modal" data-target="#Profile" data-backdrop="false"> Here!</a>
</p>
</div>
<form method="POST" id="form_section" enctype="multipart/form-data" style="margin-top: 1.3em;">
    <div class="modal forms-format " id="Profile">
        <div class="modal-dialog ">
            <div class="modal-content forms-format" style="background: rgba(0, 0, 0);">
                <div class="modal-header">
                    <h5 class="modal-title">Create your Profile</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}


                    {{ form|crispy}}

                    <button type="submit" class="btn-primary">Save</button>

            </div>


        </div>

    </div>
    </div>

</form>
{% endblock %}