#id_full_name {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.form-control:focus,
.form-control:active {
  box-shadow: 0 1px 3px 0 rgb(51, 186, 205);
}

#form_section > input::placeholder {
    color: #aab7c4;
}

#id_full_name {
    color: #000;
    border: 1px solid #0c0c0c;
}
