{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'sts_store/css/sts_store.css' %}">
{% endblock %}

{% block head %}

<title>SebsToyStore - Wares</title>

{% endblock %}

{% block content %}

{% include 'includes/delivery_banner.html' %}

{% include 'includes/store_bar.html' %}

<div class="row w-100">
    <div class="row w-100">
        <h2 class="w-100 text-center mt-5 ml-5 mb-1 text-orange text-uppercase pages-title">Wares</h2>
    </div>
    <div class="row w-100 pl-5">
        {% if search %}
        <div class="col">
            <p ><span class="text-orange w-100">{{ object_list|length }}</span> wares to display for "{{ search }}"</p>
        </div>
        {% endif %}
        {% if paginator %}
        <div class="col d-flex justify-content-end" style="line-height: 1.5em;">
            {% include 'includes/paginator.html' %}
        </div>
        {% endif %}
    </div>
</div>

<!--THIS IS LIST VIEW-->
<section>
        <!-- A CARD BY WARE -->
    <div class="container-fluid" style="min-height: 50vh;">
        <div class="row d-flex">
            {% for ware in object_list %}
            <div class="col">
                <div class="card ware-card">>
                        <a href="{% url 'sts_store:ware_detail' ware.id %}" class="post-link"
                        style="z-index: 2; height: 60%;">

                        <div class="image-container d-flex " style=" min-width: 12em; max-height: 100%; z-index: 2;">
                            {% for photo in ware.ware_image.all %}
                            {% if forloop.counter == 1 %}
                            <img src="{{ photo.image.url }}" class="justify-items-center"
                                style="object-fit: scale-down;" alt="image">
                            {% endif %}
                            {% endfor %}
                        </div>
                    </a>
                    <div class="container-fluid" style="z-index: 2;">
                        <h4 class="card-title text-center mt-0 text-orange" style="height: 2.5em;">{{ ware.name }}</h4>
                        <div class="row">
                            <div class="col-6">
                                <h6 class="card-title text-start mb-1">{{ ware.subcategory.category }}</h6>
                                <h6 class="card-title text-start">{{ ware.subcategory }}</h6>
                                <h6 class="card-title text-start text-orange">€ {{ ware.price }}</h6>
                            </div>
                            <div class="col-6 p-0">
                                <div style="z-index: 2;">
                                    {% include 'cart/quantity_form_qb.html' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <button onclick="topFunction()" id="myBtn" class="btn btn-outline-info pages-title btn-shadow" title="Go to top">Top</button>

</section>


{% endblock %}
  
{% block togglejs %}

<script src="{% static 'sts_store/js/script.js' %}"></script>

{% endblock %}

