{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'sts_store/css/sts_store.css' %}">
{% endblock %}


{% block head %}

<title>SebsToyStore - {{ ware.name }}</title>

{% endblock %}

{% block content %}

<div class="p-2 w-50">
    <span><i class="fa-regular fa-left" style="color: #33bacd; "></i></span>
    <a href="{% url 'sts_store:wares' %}">
        <h6><i class="fa-solid fa-circle-left" style="color: #33bacd;"></i>
            Back to Store
        </h6>
    </a>
</div>
<div class="row w-100 pl-5 pt-3 pb-2  d-flex justify-content-center">
    <h2 class="text-orange text-uppercase pages-title">{{ ware.name }}</h2>
</div>
<!-- BUTTONS AREA -->
<div class="container-fluid p-5">
    <div class="row-flex d-flex w-100 align-top" style="top:0px;">

        <!-- EDIT WARE -->
        <div class="col-4">
            {% if user.is_staff %}

            <a href="{% url 'sts_store:ware_edit' ware.id %}" class="btn btn-outline-warning" style="width: 5em;">Edit</a>
            {% endif %}

        </div>
        <!---->
        <!-- DELETE WARE -->
        <div class="col-4">
            {% if user.is_staff %}

            <form method="get" action="{% url 'sts_store:ware_delete' ware.id %}">
                <button type="button" class="btn btn-outline-danger" data-toggle="modal"
                    data-target="#exampleModal-{{ ware.id }}" data-backdrop="false" style="width: 5em;">Delete</button>

                <!-- MODAL FOR DELETE WARE -->
                <div class="modal fade" id="exampleModal-{{ ware.id }}" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true"
                    style="background-color: rgba(24, 23, 23, 0.686);">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content" style="background-color: black; top:20vh;">
                            <div class="modal-header">
                                <h5 class="text-orange text-uppercase pages-title " id="exampleModalLabel">Do you want
                                    to delete this ware?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" style="background-color: black;">
                                {% csrf_token %}
                                {{ ware.name }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"
                                    style="box-shadow: 3px 3px 5px rgb(41, 110, 180, 0.466);">Cancel</button>
                                <button type="submit" class="btn btn-outline-danger"
                                    style="box-shadow: 3px 3px 5px rgb(41, 110, 180, 0.466);">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
            {% endif %}
        </div>
        <!---->

        <!-- BOOKMARK -->

        <div class="col-4 d-flex justify-content-end">
            {% if user.is_authenticated and not request.user.is_staff %}
            <form method="post" action="{% url 'bookmarks:toggle_bookmark' ware.id %}">
                {% csrf_token %}
                {% if bookmarked %}
                <button type="submit" name="bookmark" value="{{ ware.id }}" class="btn btn-outline-info"
                    style="box-shadow: 3px 3px 5px rgb(41, 110, 180, 0.466);">
                    <i class="fa-solid fa-floppy-disk" style="color: #33bacd;"></i><small>Bookmarked</small></button>
                {% else %}
                <button type="submit" name="bookmark" value="{{ ware.id }}" class="btn btn-outline-info"
                    style="box-shadow: 3px 3px 5px rgb(41, 110, 180, 0.466);">
                    <i class="fa-regular fa-floppy-disk" style="color: #33bacd;"></i><small>Bookmark it</small></button>
                {% endif %}
            </form>
            {% endif %}
        </div>
    </div>
</div>

<!-- WARE INFO IMAGE -->
<div class="container-fluid p-5">
    <div class="row" style="overflow-x: hidden;">

        <!-- IMAGE -->
        <div class="col p-0">
            <div class="ia-container" id="width-img">
                {% for photo in ware.ware_image.all %}
                {% if forloop.counter == 1 %}
                <figure>
                    <img src="https://res.cloudinary.com/dwjq6izv5/image/upload/v1681308756/PP5/SebsToyStore_eov1ih.gif"
                        alt="Logo">
                    <input type="radio" name="radio-set" checked="checked">
                    {% endif %}
                    {% endfor %}

                    {% for photo in ware.ware_image.all %}
                    <figure>
                        <img src="{{ photo.image.url }}" alt="{{ photo.caption }}">
                        <input type="radio" name="radio-set" checked="checked">
                        {% endfor %}
                        <!--CLOSING FIGURE TAGS LOOP -->
                        {% for photo in ware.ware_image.all %}
                    </figure>
                    {% endfor %}
                </figure>
            </div>
        </div>
        <div class="col" style="min-width: 200px; max-width: 800px;">
            <p class="text-justify">{{ ware.description }}</p>
            <p>{{ ware.subcategory.category }}, {{ ware.subcategory }}</p>
            <p>Price: {{ ware.price }}</p>

            <span>Rating: {{ ware.get_rating_total|floatformat }} <i class="fa-solid fa-star"></i></span>
            {% include 'cart/quantity_form.html' %}
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row d-flex justify-content-end p-5 m-3">
        {% if request.user.is_authenticated %}
        {% if not request.user.is_staff %}
        <p>Leave your review of this ware <a href="" data-toggle="modal" data-target="#ReviewForm"
                data-backdrop="false">
                Here!</a>
        </p>
        {% endif %}
        {% else %}
        <p>To leave a review you need to
            <a class=" mr-1 ml-1 text-orange" href="{% url 'account_signup' %}"> Sign-Up </a>
            <span> or </span>
            <a class="mr-1 ml-1 text-orange" href="{% url 'account_login' %}"> Log-In </a>
        </p>
        {% endif %}
    </div>
</div>
<div class="container-fluid w-100p-5">
    <div class="row w-100 pl-3">
        <p>Ware last reviews:</p>
    </div>
    {% for review in reviews %}
    <div class="row w-100 pl-5">
        <span style="color:#FF7D00 ;">{{ review.rating }} <i class="fa-solid fa-star"
                style="color:#FF7D00 ;"></i></span>
    </div>
    <div class="row pl-5">
        <p>"{{ review.body }}"</p>
    </div>
    <div class="row d-flex justify-content-between pl-5">
        <div class="col">
            <p>By: {{ review.author }}</p>
        </div>
        <div class="col"> <span>
                <p><small>{{ review.date_created }}</small></p>
            </span>
        </div>
    </div>
    {% for reply in review.replies.all %}
    <div class="row d-flex justify-content-between">
        <div class="col d-flex justify-content-end">By {{ reply.replier_author }}</div>
        <div class="col"> Reply: "{{ reply.reply_content }}" </div>
        <div class="col">{{ reply.replied_date.date }}</div>
    </div>
    {% endfor %}


    {% if request.user.is_staff %}
    <a type="text" data-toggle="collapse" data-target="#reply{{review.id}}" style="float: right;" href="">Reply</a><br>

    <div id="reply{{review.id}}" class="collapse in">
        <form method="post" action="{% url 'sts_store:reply_review' review.id %}">
            {% csrf_token %}
            <input name="replier_author" class="form-control form-control-sm" type="hidden">
            <input name="reply_content" class="form-control form-control-lg" type="text" placeholder="Reply comment">
            <button type="submit" class="btn btn-primary" style="float: right; margin-top: 5px;">Reply</button>

        </form>
    </div>
    {% endif %}


    {% empty %}
    <p class="p-5"> No reviews yet </p>
    {% endfor %}

</div>
<!-- SECTION FOR STAFF TO ACCESS TO IMGS -->
<button type="button" value="toggle" onclick="toggleI()" class="toggle-button mb-1">For see the images individual
    click
    here</button>
<div class="container-fluid p-5" id="images" style="display: none;">
    <div class="col justify-content-start">
        {% for photo in ware.ware_image.all %}
        <div class="row  ">
            <div class="image-container d-flex justify-content-center align-items-center"
                style=" min-width: 14em; max-height: 100%;">

                <img src="{{ photo.image.url }}" alt="{{ photo.caption }}" style="width: 100%;">
            </div>
            <p class="ml-3">{{ photo.caption }} {% if request.user.is_staff %} - id {{ photo.id }} {% endif %} </p>
            {% if user.is_staff %}
            <div class="col d-flex justify-content-start align-items-center">
                <form method="get" action="{% url 'sts_store:image_delete' photo.id %}">
                    <button type="button" class="btn btn-outline-danger" data-toggle="modal"
                        data-target="#exampleModal-{{ photo.id }}" data-backdrop="false">Delete</button>

                    <!-- MODAL FOR DELETE IMAGE -->
                    <div class="modal fade" id="exampleModal-{{ photo.id }}" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true"
                        style="background-color: rgba(24, 23, 23, 0.686);">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content" style="background-color: black; top:20vh;">
                                <div class="modal-header">
                                    <h5 class="text-orange text-uppercase pages-title " id="exampleModalLabel">Do
                                        you
                                        want
                                        to delete this image?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" style="background-color: black;">
                                    {% csrf_token %}
                                    {{ photo.caption }} - id {{ photo.id }}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"
                                        style="box-shadow: 3px 3px 5px rgb(41, 110, 180, 0.466);">Cancel</button>
                                    <button type="submit" class="btn btn-outline-danger"
                                        style="box-shadow: 3px 3px 5px rgb(41, 110, 180, 0.466);">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>

<button onclick="topFunction()" id="myBtn" class="btn btn-outline-info pages-title btn-shadow"
    title="Go to top">Top</button>

</div>

{% include 'reviews/reviews_form.html' %}


{% endblock %}

{% block topbtnJs %}
<script>
    // Took from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_scroll_to_top
    // Get the button
    let mybutton = document.getElementById("myBtn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
        if (document.body.scrollTop > 10 || document.documentElement.scrollTop > 10) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }

    function toggleI() {
        let div = document.getElementById('images')
        if (div.style.display === 'none') {
            div.style.display = 'block';
        } else {
            div.style.display = 'none';
        }
    }
</script>

{% endblock %}