@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200;400;600&display=swap');


html {
    min-height: 100%;
}

body {
    min-height: 100%;
    color: white !important;
}

body * {
    font-family: Changa;
    font-weight: 400;
    font-size: large;
    color:rgb(51, 186, 205);
}

body * > a, a:hover {
    color:#FF7D00 !important;
    text-decoration: none !important;
}

/* BASE html */

#footer-css {
    margin-top: auto;
    background-color: black;
    font-size: small;
}


/* INDEX html */

/* ANIMATED slogan taken from tutorial in Youtube*/
/* smashtheshell -> https://www.youtube.com/watch?v=2NxUssDAxoY*/
.slogan {
    text-transform: uppercase;
    text-align: center;
    background-image: linear-gradient(to right, rgb(89, 0, 255), red, rgb(0, 72, 255), rgb(255, 119, 0), rgb(78, 250, 224));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 2em;
    font-weight: 700;
    background-size: 300%;
    background-position: -100%;
    animation: animated-text 4s infinite alternate-reverse;
}

@keyframes animated-text {
    from {
        background-position: 0%;
    }
    to {
        background-position: 100%;
    }
}

/* -- ACCORDION taken from tutorial in Youtube */
/* wpshopmart -> https://www.youtube.com/watch?v=9tPFFZ9D4MY */
.container-accordion {
    width: 100%;
    height: 70%;
    overflow: hidden;
}

.container-accordion header {
    margin: 10px;
    padding: 10px 10px 10px 10px;
    position: relative;
    display: block;
    text-align: center;
}

.container-accordion header h2 {
    font-size: 25px;
    line-height: 36px;
    margin: 0;
    position: relative;
    font-weight: 700;
    color: red;
}

.ia-container {
    width: 985px;
    margin: 20px auto;
    overflow: hidden;
}

.ia-container figure {
    position: absolute;
    top: 0px;
    left: 50px;
    width: 435px;
    margin: 0;
    box-shadow: 0 0 3px rgb(3, 3, 235);
    transition: all 0.3s ease-in-out; 
    z-index: 1000;
}

.ia-container > figure {
    position: relative;
    left: 0 !important;
    height: inherit;
}

.ia-container img {
    display: block;
    width: 100%;
}

.ia-container input {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    cursor: grab;
    border: 0;
    padding: 0;
    opacity: 0;
    z-index: 100;
    appearance: none;
}

.ia-container input:checked {
    width: 5px;
    left: auto;
    right: 0px;    
}

.ia-container input:checked ~ figure {
    transition: all 0.7s ease-in-out;
    left: 405px;
}

.ia-container figcaption {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 255, 0.01);
    position: absolute;
    top: 0;
    transition: all 0.2s linear;
}

.ia-container figcaption span {
    position: absolute;
    top: 5px;
    right: 20px;
    left: 20px;
    text-align: center;
    background: rgba(51, 186, 205, 0.7);
    font-size: 18px;
    opacity: 0.5;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
    padding: 15px;
    color: rgb(87, 5, 5);
}

.ia-container input:checked + figcaption span {
    transition: all 0.4s ease-in-out 0.5s;
    opacity: 1;
    top: 8em;
} 

@media (max-width: 700px) {
    .ia-container {
        width: 330px;
    }
    .ia-container figure {
        left: 30px;
        width: 235px;
    }
    .ia-container input:checked ~ figure {
        transition: all 0.7s ease-in-out;
        left: 200px;
    }
    .ia-container input:checked + figcaption span {
        top: 30em;
    }
}

@media (min-width: 1950px){

    body {
        width: 80%;
        margin-left: 0;
        margin: auto !important;
    }
}

/* BORDER gradient animated - start */

.ware-card::before {
    content: '';
    position: absolute;
    width: 800px;
    height: 150%;
    background: linear-gradient(#296EB4, #00f7ff, #FF7D00);
    animation: animate 4s linear infinite;
    z-index: -1;
    filter:blur(3px);
}

@keyframes animate {
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

.ware-card::after {
    content: '';
    position: absolute;
    inset: 2.5px;
    background: rgb(39, 38, 38);
} 

/* - end  */

.ware-card {
            padding: 20px;
            border: #3f3f3e outset 2px;
            background: rgb(21, 20, 20);
            border-radius: 5px;
            max-width: 20em;
            height: 26em;
            display: flex;
            align-items:center;
            margin: 0;
            margin: auto;
            margin-bottom: 20px;
            text-decoration: none;
            transition: transform 250ms ease-in-out;
            overflow: hidden;
            box-shadow: 3px 3px 5px rgb(41, 110, 180, 0.466); /* to play with the shadow blur is the 3rd number */
}

.ware-card:hover{
    transform: scale(1.02);
}
.ware-card>a{
    text-decoration: none;
    color:rgb(78, 163, 203);

}
.ware-card>h4{
    font-weight: 600;
}

.ware-card>*{
    font-family: 'Raleway', sans-serif;
    color:#b36e08;
}

/* Icon in input */

.inline{
    max-width:400px;
    margin:auto;
}
.input-icons i {
    position: absolute;
}
  
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
  
.icon {
    padding: 10px;
    min-width: 40px;
}
  
.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-bottom: 3px;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 17vh;
    right: 3em;
    z-index: 99999999999 !important;
}

.custom-toast {
    overflow: visible;
    background-color: #6d6b68ee;
    color: rgb(51, 186, 205);
}

.toast-header{
    background-color:#6d6b68ee;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */

.arrow-success {
    border-bottom-color: #17b8b8 !important;
}

.arrow-info {
    border-bottom-color: #FF7D00 !important;
}

.bag-notification-wrapper {
    background-color:#6d6b68ee;

    height: 60px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* FORM SUBSCRIPTION */

form.flex {
    display: flex;
    gap: 0.3rem;
  }

/* BTNS */

.pages-title {
    text-shadow: 3px 3px 5px rgb(41, 110, 180, 0.466);
}

.btn-shadow {
    box-shadow: 3px 3px 5px rgb(41, 110, 180, 0.466);
}

.btn-size {
    width: 12em;
}

.text-orange {
    color:#FF7D00 !important;
    text-decoration: none !important;
  }

.btn-blue-text {
    color: rgb(51, 186, 205) !important;
}

  footer * {
    font-size: large;
}
