{% extends "base.html" %}
{% load static %}

{% block extra_css%}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}

{% block head %}
<title>SebsToyStore - Contact Us Success</title>
{% endblock %}

{% block header %}
<div class="container"  >
    <div class="row w-100 d-flex justify-content-center p-5">
        <h2 class="text-orange text-uppercase pages-title" >Contact Us Success</h2>
    </div>
{% endblock %}


{% block content %}

<div class="container-fluid mt-4">
	<div class="row d-flex justify-content-center w-100">
		<p class="slogan">Thank you for contacting us</p>
	</div>
	<div class="row d-flex justify-content-center w-100">
		<h5>We will get back to you shortly</h5>
	</div>
</div>

{% endblock %}