<div class="container-fluid w-100 p-2">
    <div class="row w-100">
        <form method="post" class="flex" action="{% url 'newsletter:subscribeToNewsLetter' %}">
            {% csrf_token %}
            {{ SubscriberForm }}
            <div class="container-fluid">
                <div class="col" style="border:2px solid grey; border-radius: 5px;">
                    <div class="row">
                        <!-- Begin Mailchimp Signup Form -->

                        <p class="w-100 pl-2">Subscribe to our newsletter</p>
                    </div>
                    <div class="row">
                        <div class="col p-1">
                            <input type="email" name="email" placeholder="Your Email">
                        </div>
                        <div class="col p-1">
                            <input type="text" name="name" placeholder="Your Name" style="width: 6em;">
                        </div>
                        <div class="col p-1">
                            <button class="btn btn-secondary" type="submit"><small>Subscribe</small></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="col flex-column align-items-center justify-content-center">
            <div class="row d-flex justify-content-center mt-2"><small>Visit us on our</small></div>
            <div class="row d-flex justify-content-center">
                <a href="https://www.facebook.com/profile.php?id=100092753469482" target="_blank"><i
                            class="fa-brands fa-facebook fa-l" style="color: #4c4e52;"></i><small>acebook</small>
                    </a>
            </div>
        </div>
        <div class="col flex-column align-items-center justify-content-center">
            <div class="row d-flex justify-content-center">
                <p class="mb-1"><a href="{% url 'terms' %}" style="color:rgb(51, 186, 205) !important;"><small>Terms &
                            Conditions</small></a></p>
            </div>
            <div class="row d-flex justify-content-center">
                <p class="mb-1"><a href="{% url 'q_a' %}"
                        style="color:rgb(51, 186, 205) !important;"><small>Q&A</small></a></p>
                </p>
            </div>
            <div class="row d-flex justify-content-center">
                <p class="mb-1"><a href="{% url 'contact_us:contact_us_form' %}"
                        style="color:rgb(51, 186, 205) !important;"><small>Contact
                            Us</small></a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid " style="background-color: #0c0c0ca8;">
    <div class="row">
        <div class="col mt-3 d-flex justify-content-end">
            <p><small>@ Educational Purposes</small></p>
        </div>
        <div class="col mt-3">
            <p><a href="https://github.com/IvetteMcDermott" target="_blank" rel="noopener"><small>Ivette Mc Dermott
                    </small></a><i class="fa-brands fa-github fa-fade" style="color: #4c4e52;"></i></p>
        </div>
    </div>
</div>