<div class="container-fluid w-100 p-2">
    <div class="row w-100">
        <form method="post" class="flex" action="{% url 'newsletter:subscribeToNewsLetter' %}">
            {% csrf_token %}
            {{ SubscriberForm }}
            <div class="container-fluid">
                <div class="col" style="border:2px solid grey; border-radius: 5px;">
                    <div class="row">
                        <!-- Begin Mailchimp Signup Form -->
            
                        <p class="w-100 pl-2">Subscribe to our newsletter</p>
                    </div>
                    <div class="row">
                        <div class="col p-1">
                            <input type="email" name="email" placeholder="Your Email">
                        </div>
                        <div class="col p-1">
                            <input type="text" name="name" placeholder="Your Name" style="width: 6em;">
                        </div>
                        <div class="col p-1">
                            <button class="btn btn-secondary" type="submit"><small>Subscribe</small></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="col d-flex align-items-center justify-content-center">
            <i class="fa-brands fa-facebook fa-2xl" style="color: #4c4e52;"><small>acebook</small></i>
        </div>
        <div class="col d-flex flex-column align-items-center justify-content-center">
            <div class="row">
                <p class="mb-1"><a href="{% url 'terms' %}" style="color:rgb(51, 186, 205) !important;">Terms & Conditions</a></p>
            </div>
            <div class="row">
                <p class="mb-1"><a href="{% url 'q_a' %}" style="color:rgb(51, 186, 205) !important;">Q&A</a></p>
            </p>
            </div>
            <div class="row">
                <p class="mb-1"><a href="{% url 'contact_us:contact_us_form' %}" style="color:rgb(51, 186, 205) !important;">Contact
                        Us</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid " style="background-color: #0c0c0ca8;">
    <div class="row">
        <div class="col mt-3 d-flex justify-content-end">
            <p> @ Educational Purposes</p>
        </div>
        <div class="col mt-3">
            <p>Ivette Mc Dermott <i class="fa-brands fa-github fa-fade" style="color: #4c4e52;"></i></p>
        </div>
    </div>
</div>