

<div class="container-fluid d-flex w-100">
    <div class="row w-100" >

        <div class="col-4">

        <!-- Begin Mailchimp Signup Form -->
        <div>
            <form method="post" action="{% url 'newsletter:subscribeToNewsLetter' %}" >
                {% csrf_token %}
                {{ SubscriberForm }}
                <input type="email" name="email" placeholder="Your Email">
                <input type="text" name="name" placeholder="Your Name">
                <button class="btn btn-secondary" type="submit">Submit</button>
            </form>
        </div>
<div class="col-4">
        <div class="row justify-content-center">
            <p>Social Media</p>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">Instagram</div>
            <div class="col d-flex justify-content-center">Twitter</div>
            <div class="col d-flex justify-content-center">Facebook</div>
        </div>
    </div>
    <div class="col-4 ">
        <div class="row d-flex justify-content-center">
            <p> @ Educational Purposes
            </p>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center align-items-center"><span>Ivette Mc Dermott <i
                        class="fa-brands fa-github fa-fade" style="color: #4c4e52;"></i></span></div>
        </div>
    </div>
    <div class="col-4">
            <div class="row d-flex justify-content-center">Terms & Conditions</div>
            <div class="row d-flex justify-content-center">Q&A</div>
            <div class="row d-flex justify-content-center">Contact Us</div>
        </div>
    </div>
</div>
</div>