<div class="row w-100 d-flex justify-content-end align-items-center" style="background-color: black; padding:0px; margin:0px;">
        <div class="col-2 d-flex justify-content-end">
            <span><i class="fa-solid fa-user-large-slash" style="color: #33bacd;"></i></span>
            {% if user.authenticated %}
            <p style="margin-left: 5px;">{{ request.user }}</p>
            {% else %}
            <p style="margin-left: 5px;">Guest</p>
            {% endif %}
        </div>
        <div class="col-2 d-flex justify-content-end">
            <span><i class="fa-solid fa-basket-shopping" style="color: #33bacd;"></i></span>
        </div>
</div>