<nav class="navbar navbar-expand-lg w-100 justify-content-end" style="padding: 0px;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span ><i class="fa-solid fa-bars fa-fade" style="color: #33bacd;"></i></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav w-100 justify-content-around" style="background-color: black !important; border-color: rgb(51 186 205);">
      <li class="nav-item d-flex justify-content-end">
        <a class="nav-link" href="{% url 'wares' %}" style="color: rgb(51 186 205) !important;">STORE</a>
      </li>
      <li class="nav-item d-flex justify-content-end">
        <a class="nav-link" href="#" style="color: rgb(51 186 205) !important;">NEW ARRIVAL</a>
      </li>
      <li class="nav-item d-flex justify-content-end">
        <a class="nav-link" href="#" style="color: rgb(51 186 205) !important;">NEWS</a>
      </li>
      <li class="nav-item dropdown d-flex justify-content-end">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false" style="color: rgb(51 186 205) !important;">
          ACCOUNT
        </a>
        <div class="dropdown-menu " style="background-color: black !important; border-color: rgb(51 186 205);">
          <a class="dropdown-item d-flex justify-content-end" href="{% url 'account_signup' %}" style="color: rgb(51 186 205) !important;">SIGN UP</a>
          <a class="dropdown-item d-flex justify-content-end" href="{% url 'account_login' %}" style="color: rgb(51 186 205) !important;">SIGN IN</a>
          <a class="dropdown-item d-flex justify-content-end" href="#" style="color: rgb(51 186 205) !important;">MY PROFILE</a>
          <a class="dropdown-item d-flex justify-content-end" href="{% url 'account_logout' %}" style="color: rgb(51 186 205) !important;">LOG OUT</a>
        </div>
      </li>
    </ul>
  </div>
</nav>