{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head %}


{% endblock %}

{% block content %}

<span>store panel</span>

<hr>

<a href="{% url 'sts_store:ware_entry' %}" class="post-link" style="z-index: 2;" target="_blank">Add Ware</a>
<a href="{% url 'sts_store:image_entry' %}" class="post-link" style="z-index: 2;" target="_blank">Add Image</a>
<a href="{% url 'sts_store:orders' %}" class="post-link" style="z-index: 2;">Orders</a>

<hr>

<p>Find the ware to edit or delete</p>
<form action="{% url 'sts_store:search' %}" method="post">
    {% csrf_token %}

    <input name="q" type="text" placeholder="Search...">
    <button type="submit">Go</button>
</form>

<hr>

<p>Find the wareImages delete</p>
<form action="{% url 'sts_store:search_image' %}" method="post">
    {% csrf_token %}

    <input name="q" type="text" placeholder="Search...">
    <button type="submit">Go</button>
</form>


{% endblock %}