<div class="row w-100">
    <div class="col d-flex justify-content-end">
        <a href="{% url 'sts_store:wares' %}" class="btn btn-outline-black rounded-0 btn-lg">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>
            <span class="text-uppercase">Keep Shopping</span>
        </a>
    </div>
    <div class="col">
        <a href="{% url 'checkout:checkout' %}" class="btn btn-black rounded-0 btn-lg">
            <span class="text-uppercase">Secure Checkout</span>
            <span class="icon">
                <i class="fas fa-lock"></i>
            </span>
        </a>
    </div>
</div>