<form class="form update-form" method="POST" action="{% url 'shopping_cart:modify_cart' ware.ware_id %}" >
    {% csrf_token %}
    <div class="form-group">
        <div class="input-group">
         
            <input class="form-control form-control-sm qty_input" type="number"
                name="quantity" value="{{ ware.quantity }}" min="1" max="99"
                data-item_id="{{ ware.ware_id }}"
                id="id_qty_{{ ware.ware_id}}">
           
        
        </div>
    </div>
</form>
<a class="update-link text-info"><small>Update</small></a>
