<div class="d-flex justify-content-end">
    <form class="form" action="{% url 'shopping_cart:add_to_cart' ware.id %}" method="POST">
        {% csrf_token %}
        <div class="col">
            <div class="form-group w-50" style="display: none;">
                <div class="input-group" style="display: none;">
                    <div class="input-group-prepend" style="display: none;">
                        <input class="form-control qty_input" type="number" name="quantity" value="1"
                            data-item_id="{{ ware.id }}" id="id_qty_{{ ware.id }}" style='display:none;'>
    
                    </div>
                </div>
            </div>
        </div>
        <div class="input-icons p-0 ">
            <i class="fas fa-shopping-cart icon mr-2" style="color: #33bacd;"></i>
            <input type="Submit" class="btn btn-outline-info rounded-1 input-field text-right text-uppercase"
                value="Add to Cart" style="width: 8.5em; box-shadow: 3px 3px 5px rgb(41, 110, 180, 0.466);" >
        </div>
        <!-- <div>
        <input type="submit" class="btn btn-outline-danger rounded-0  text-uppercase mt-3" value="Add to Cart">
        </div>  -->
    </form>
    </div>