{% extends "base.html" %}
{% load cart_tools %}

{% block head %}


{% endblock %}

{% block content %}

<p>shopping cart</p>

<table>
    <tr>
        <th>photo</th>
        <th>ware</th>
        <th>price</th>
    </tr>

    <!-- TEST OF ACCESS TO THE WARES IMAGES FOR CART -->
    {% for ware in cart_wares %}
    {{ ware.ware.id }}
{% if ware.ware_image.image %}
yes
{% else %}
no
{% endif %}

    {% for photo in ware.ware_image.all %}
    <img src="{{ photo.image.url }}" alt="{{ photo.caption }}" style="width: 400px;">

    {{ photo.ware_image.caption }}
    {% endfor %}
    <tr>
        <td>
            {% for photo in ware.ware_image.all %}
            <p>{{ photo.caption }}</p>
            {% endfor %}

            {% for photo in ware.ware_image.all %}
            {% if forloop.counter == 1 %}
            <img src="{{ photo.ware_image.url }}" class="card-img-top" style="object-fit: scale-down;" alt="image">
            {% endif %}
            {% endfor %}

            <!-- END OF TESTING CODE-->
        <td>{{ ware.ware}}</td>
        <td>{{ ware.quantity}}</td>
        <td>{{ ware.ware.price }}</td>
        <td>{{ ware.id }}</td>

        <td>
            <form><a href="{% url 'shopping_cart:remove_from_cart' ware.ware_id %}">remove</a></form>
        </td>
        <td>{% include 'cart/modify_cart.html' %}</td>
    </tr>
    {% endfor %}
</table>
{% include 'cart/total_section_cart.html' %}
{% include 'cart/checkout_section_cart.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function (e) {
        let form = $(this).prev('.update-form');
        form.submit();
    })


    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        let csrfToken = "{{ csrf_token }}";
        let itemId = $(this).attr('id').split('remove_')[1];
        let url = `/shoppingcart/remove/${itemId}/`;
        let data = { 'csrfmiddlewaretoken': csrfToken,};

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>

{% endblock %}