{% extends "base.html" %}
{% load cart_tools %}

{% block head %}


{% endblock %}

{% block content %}

<p>shopping cart</p>
{{ cart_wares }}


<table>
    <tr>
    <th>ware</th>
    <th>quantity</th>
    <th>price</th>
    </tr>
    {% for ware in cart_wares %}

    <tr>
        <td>{{ ware.ware}}</td>
        <td>{{ ware.quantity}}</td>
        <td>{{ ware.ware.price }}</td>
        <td>{{ ware.id }}</td>
    
        <td><form ><a href="{% url 'shopping_cart:remove_from_cart' ware.ware_id %}">remove</a></form> </td>
        <td>{% include 'cart/modify_cart.html' %}</td>
    </tr>
    {% endfor %}
</table>
{% include 'cart/total_section_cart.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        let form = $(this).prev('.update-form');
        form.submit();
    })


    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        let csrfToken = "{{ csrf_token }}";
        let itemId = $(this).attr('id').split('remove_')[1];
        let size = $(this).data('product_size');
        let url = `/bag/remove/${itemId}/`;
        let data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>

{% endblock %}