{% extends "base.html" %}
{% load cart_tools %}

{% block head %}


{% endblock %}

{% block content %}
<div class="row  w-100">
    <h3 class="w-100 text-center m-5">shopping cart</h3>
</div>
<div class="container" style="width:95%; overflow-y: scroll;">


    {% for ware in cart_wares %}
    <div class="row">
        <div class="col">

            {% for photo in ware.ware.ware_image.all %}

            {% if forloop.counter == 1 %}
            <img src="{{ photo.image.url }}" class="card-img-top" style="width: 4em; object-fit: scale-down;"
                alt="image">
            {% endif %}
            {% endfor %}
        </div>
        <div class="col">
            <div class="row">
                <span>{{ ware.ware}} </span>
            </div>
            <div class="row">
                <span>SKU: {{ ware.ware.sku }} </span>
            </div>
        </div>

        <div class="col">
            <div class="row">
                <span>Qty: {{ ware.quantity}} </span>
            </div>
            <div class="row">
                <span>Price: {{ ware.ware.price }} </span>
            </div>
        </div>
        <form><a href="{% url 'shopping_cart:remove_from_cart' ware.ware_id %}">remove</a></form>

        {% include 'cart/modify_cart.html' %}

        <div class="col text-right">
            <p class="my-0 small text-muted">€{{ ware.ware.price | calc_subtotal:ware.quantity }}</p>
        </div>
    </div>
    {% endfor %}
</div>

{% include 'cart/total_section_cart.html' %}

{% include 'cart/checkout_section_cart.html' %}

</div>


<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function (e) {
        let form = $(this).prev('.update-form');
        form.submit();
    })


    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        let csrfToken = "{{ csrf_token }}";
        let itemId = $(this).attr('id').split('remove_')[1];
        let url = `/shoppingcart/remove/${itemId}/`;
        let data = { 'csrfmiddlewaretoken': csrfToken, };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>

{% endblock %}