{% extends "base.html" %}

{% block head %}


{% endblock %}

{% block content %}

<div class="container">
    <header><h2></h2></header>
    <section class="main">
        <div class="ia-container">
            <figure>
                <img src="https://res.cloudinary.com/dwjq6izv5/image/upload/v1681410968/PP5/store_img_tall_fozmqz.png"
                    alt="Store">
                <input type="radio" name="radio-set" checked="checked">
                <figcaption><span><a href="#">Visit our Shop</a></span></figcaption>

                <figure>
                    <img src="https://res.cloudinary.com/dwjq6izv5/image/upload/v1679527105/osyullrvdng3mncylvkf.png"
                        alt="img2">
                    <input type="radio" name="radio-set" checked="checked">
                    <figcaption><span><a href="https://github.com/IvetteMcDermott/PP4Django-PeruExperience/blob/main/static/css/style.css" target="_blank">Image 2</a></span></figcaption>

                    <figure>
                        <img src="https://res.cloudinary.com/dwjq6izv5/image/upload/v1677073029/lrpm02unpsynovyhevlu.jpg"
                            alt="img3">
                        <input type="radio" name="radio-set" checked="checked">
                        <figcaption><span>Image 3</span></figcaption>

                        <figure>
                            <img src="https://res.cloudinary.com/dwjq6izv5/image/upload/v1679523740/kb7fupscucshjjh2b3zj.webp"
                                alt="img4">
                            <input type="radio" name="radio-set" checked="checked">
                            <figcaption><span>Image 1</span></figcaption>
                        </figure>
                    </figure>
                </figure>
            </figure>
        </div>
    </section>
    <div class="d-flex justify-content-center w-100">
        <p class="slogan">A place where toys come through</p>
    </div>

</div>


{% endblock %}