{% extends "base.html" %}

{% block head %}

<title>SebsToyStore</title>

{% endblock %}

<!--META SEO-->
<!--https://ahrefs.com/blog/seo-meta-tags/#:~:text=a%20different%20snippet.-,Why%20it's%20important%20for%20SEO,what%20they're%20looking%20for.-->
<meta name="description" content="e-commerce toy store, video games, switch, nintendo, xbox, ps, and toys related to">
<meta name="author" content="Ivette McDermott">

{% block content %}

<div class="container-accordion">
    <header>
        <h2></h2>
    </header>
    <section class="main">
        <div class="ia-container">
            <figure>
                <img src="https://res.cloudinary.com/dwjq6izv5/image/upload/v1681410968/PP5/store_img_tall_fozmqz.png"
                    alt="Store">
                <input type="radio" name="radio-set" checked="checked">
                <figcaption><span>
                        <h3 class="text-uppercase text-orange pages-title">VIDEO GAMES</h3>
                    </span></figcaption>

                <figure>
                    <img src="https://res.cloudinary.com/dwjq6izv5/image/upload/v1684415514/fwu181tao7jsaf1ro17z.webp"
                        alt="img4">
                    <input type="radio" name="radio-set" checked="checked">
                    <figcaption><span>
                            <h3 class="text-uppercase text-orange pages-title">Adults Party Games</h3>
                        </span></figcaption>
                    <figure>
                        <img src="https://res.cloudinary.com/dwjq6izv5/image/upload/v1684415204/fuhobmtrkklkruii4bcj.webp"
                            alt="img3">
                        <input type="radio" name="radio-set" checked="checked">
                        <figcaption><span>
                                <h3 class="text-uppercase text-orange pages-title">board games</h3>
                            </span></figcaption>
                            <figure>

                        <img src="https://res.cloudinary.com/dwjq6izv5/image/upload/v1684421390/PP5/New_Project_49_d0mlpm.webp"
                            alt="img2">
                        <input type="radio" name="radio-set" checked="checked">
                        <figcaption><span>
                                <h3 class="text-uppercase text-orange pages-title">Legos</h3>
                            </span></figcaption>

                        </figure>
                    </figure>
                </figure>
            </figure>
        </div>
    </section>
    <div class="d-flex justify-content-center w-100">
        <p class="slogan">A place where toys come through</p>
    </div>

</div>

{% endblock %}