.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 rgb(51, 186, 205);
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #0c0c0c;
}
/* CSS FOR REMOVE PADDING FROM COUNTRY SELECT IN CHECKOUT FORM */
#id_country {
  padding: 0 !important;
  padding-left: 0.5em;
}

.text-orange {
  color:#FF7D00 !important;
  text-decoration: none !important;
}