.text-orange {
  color: #FF7D00 !important;
  text-decoration: none !important;
}


@media (min-width: 821px) {
  .w-monitors {
    width: 80%;
    margin-left: 0;
    margin: auto;
  }
}

@media (min-width: 1500px) {
  .w-monitors {
    width: 60%;
    margin-left: 0;
    margin: auto;
  }
}